.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: #eee;
  }
  
  .header-left {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .header-logo {
    height: 50px;
    width: 50px;
    object-fit: contain;
  }
  
  .header-title {
    margin: 0;
    font-family: 'Playfair Display', serif;
    font-size: 1.8rem;
    color: #333;
  }

  
  .search-container {
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 0.5rem 0.5rem 0.5rem 2rem;
    border: none;
    border-radius: 20px;
    background-color: #fff;
    font-size: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    outline: none;
  }
  
  .search-icon {
    position: absolute;
    left: 12px;
    color: #777;
    font-size: 1.2rem;
  }
  .nav-menu {
    display: flex;
    gap: 1.5rem;
    margin-left: 2rem;
  }
  
  .nav-link {
    text-decoration: none;
    font-weight: 500;
    font-size: 1rem;
    color: #333;
    position: relative;
    transition: color 0.3s ease;
    font-family: 'Playfair Display', serif;
  }
  
  .nav-link::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    height: 2px;
    width: 0%;
    background-color: #333;
    transition: width 0.3s ease;
  }
  
  .nav-link:hover {
    color: #000;
  }
  
  .nav-link:hover::after {
    width: 100%;
  }
  
  .active {
    color: #0077cc;
  }
  
  .active::after {
    width: 100%;
    background-color: #0077cc;
  }
  